services:
  - type: web
    name: fcm-notification-server
    runtime: node
    plan: free
    region: singapore
    branch: main
    buildCommand: npm install
    startCommand: node server.js
    envVars:
      - key: NODE_VERSION
        value: 20
      - key: SUPABASE_URL
        sync: false
      - key: SUPABASE_SERVICE_ROLE_KEY
        sync: false
      - key: FIREBASE_SERVICE_ACCOUNT
        sync: false
